<!--@file drag_race_planner.launch
 -  @author Sirui Song
 -  @author Jungwook Lee
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
 -->
<launch>

  <!-- <include file="$(find lane_detection)/launch/dual_cam_lane_detection.launch" /> -->
  
  <rosparam file="$(find rr_path_planner)/launch/drag_race.yaml"/>

  <node pkg="rr_path_planner" name="rr_path_planner" type="rr_path_planner" output="screen">
  </node>  
</launch>
