<launch>
  <!-- Controller wt/ Arduino -->
  <include file="arduino.launch" />
  
  <!-- Darknet Object Detection -->
  <!-- <include file="$(find darknet_ros)/launch/darknet_ros.launch" />-->

  <!-- Traffic Light Detection -->
  <!-- <include file="$(find rr_traffic_light)/launch/rr_traffic_light.launch" />-->

  <!-- Camera -->
  <include file="$(find rr_lane_detection)/launch/dual_cam_lane_detection.launch" />

  <!-- Laser Mapper -->
  <include file="$(find rr_mapper)/launch/mapper.launch" />
    
  <!-- Path Planner -->
  <include file="$(find rr_path_planner)/launch/drag_race_planner.launch" />	

</launch>
