<launch>
  <param name="Launch/race_type" value="circuit" />
  
  <!-- Simulated World -->
  <include file="$(find rr_gazebo)/launch/rr_circuit_race_sim.launch" />

  <!-- Supervisory System -->
  <include file="$(find rr_supervisor)/launch/supervisor.launch" />
    
  <!-- Endline Detection System -->
  <include file="$(find rr_endline_detection)/launch/endline_node.launch" />

  <!-- lane Detection System -->
  <include file="$(find rr_lane_detection)/launch/sim_dual_cam_lane_detection.launch" />

  <!-- Mapping System -->
  <include file="$(find rr_mapper)/launch/mapper_sim.launch" />
    
  <!-- path planner node -->
  <include file="$(find rr_path_planner)/launch/circuit_race_planner.launch" />	
</launch>