<?xml version="1.0"?>
<!--@file rr_vehicle.launch
 -  @brief Launch nodes used by both RViz and Gazebo when 
 -         visualizing a vehicle with Ackermann steering.
 -           
 -         This code is inspired by code from the WunderKramer lab
 -         and GeorgiaTech's AutoRally team
 -         The repositories are linked here:
 -         https://github.com/autorally/Autorally
 -         https://github.com/vugolfcart/ackermann_vehicle
 -
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
-->
<launch>
  <!-- robot_description is used by nodes that publish to joint_states. -->
  <param name="robot_description"
          command="$(find xacro)/xacro --inorder $(find rr_description)/urdf/augmented_rc_car.urdf.xacro"/>

  <!-- Read joint positions from joint_states, then publish the vehicle's
        state to tf. -->
  <node name="vehicle_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="30.0"/>
  </node>
</launch>
