<launch>
  <!-- Controller wt/ Arduino -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" required="true">
    <param name="~port" value="/dev/ttyACM1" />
    <param name="~baud" value="115200" />
  </node>

  <!-- Speed Controller -->
  <!-- <include file="$(find rr_controller)/launch/controller.launch" /> -->


  <!-- Traffic Light Detection -->
  <!--include file="$(find rr_traffic_light)/launch/rr_trafficlight.launch" /--> 

  <!-- Camera -->
  <include file="$(find vis)/launch/dual_cam_vis.launch" />
 
  <!-- Laser Mapper -->
  <include file="$(find rr_mapper)/launch/mapper.launch" />
   
  <!-- Path Planner -->
  <include file="$(find rr_path_planner)/launch/circuit_race.launch" />

</launch>
