<launch>	

 ### Insert parameters #########################
  <rosparam file="$(find robotracing_trajectory_rollout)/launch/Trajectory_rollout.yaml"/>

  ### Launch Supervisor Node ####################

  <node pkg="robotracing_supervisor"
      type="robotracing_supervisor"
      name="robotracing_supervisor"      
      required="true"
      output = "screen">
      
  </node> 

  ### Launch Laser Nodes ########################
  
<node pkg="urg_node"
      type="urg_node"
      name="laser_node"      
      required="true">
      <param name="serial_port" type="string" value="/dev/lidar" />
  </node>   

  <node pkg="laser_ocu_node" 
      type="laser_ocu_node" 
      name="laser_ocu_node"
      required="true" 
      output = "screen">
  </node> 

  ### Launch Vision Node ########################
  <!-- Camera Node -->
          <node name="RRCamera" pkg="ximea_camera" type="ximea_camera_node" output="screen"
          required = "true">

          <param name="camera_name" type="string" value="camera1" />
          <param name="info_url" type="string" value="package://ximea_camera/launch/camera1.yaml" />
          #data format was XI_RGB24||XI_MONO8#
          <param name="image_data_format" type="string" value="XI_RGB24" />
          <param name="auto_exposure" type="bool" value="false" />
          <param name="exposure_time" type="int" value="4000" />
          <param name="frame_rate" type="int" value="20" />
          <param name="cams_on_bus" type="int" value="1" />

        </node>

	<node pkg="robot_racing_2014_cv"
		type="circuit_race_cv"
		name="circuit_race_cv">
		<param name="debug_flag" type="bool" value="true" />
		<param name="output_video_flag" type="bool" value="true" />
	</node>
 
  ### Launch Arduino ############################
<!--  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" required="true">
      <param name="~port" value="/dev/arduino" />
      <param name="~baud" value="115200" />
  </node>
-->
  ## Launch Trajectory Rollout #################
  
  <node pkg="robotracing_trajectory_rollout" 
      type="robotracing_trajectory_rollout" 
      name="robotracing_trajectory_rollout"
      required="true"    
      output = "screen">
  </node>


  ### Launch RViz if Visualization is ON ########
  ### Launch map_server if Debugging is ON ######
    
</launch>
