<!--@file dual_cam_lane_detection.launch
 -  @brief This launch file is used to run the nodes publishing the camera 
 -         streams for both cameras it then launches the lane detection 
 -         software on both
 -  @author Matthew Post
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
 -->
<launch>
  <param name="device" command="$(find rr_lane_detection)/scripts/camera_parameters.sh"/>

  <node ns ="rr_vehicle" name="left_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="left_cam" />
    <param name="io_method" value="mmap"/>
    <param name="gain_automatic" value="false" />
    
    <param name="auto_white_balance" value="false" />
    <param name="contrast" value="64" />
    <param name="sharpness" value="223" />
  
  </node>

  <node ns ="rr_vehicle" name="right_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="right_cam" />
    <param name="io_method" value="mmap"/>
    <param name="gain_automatic" value="false" />

    <param name="auto_white_balance" value="false" />
    <param name="contrast" value="64" />
    <param name="sharpness" value="20" />
  </node>

  <include file="$(find rr_lane_detection)/launch/lane_detection_cam.launch">
    <arg name="config_file" default="$(find rr_lane_detection)/config/vision_params_left.yaml"/>
    <arg name="camera" default="left_cam"/>
  </include>
  <include file="$(find rr_lane_detection)/launch/lane_detection_cam.launch">
    <arg name="config_file" default="$(find rr_lane_detection)/config/vision_params_right.yaml"/>
    <arg name="camera" default="right_cam"/>
  </include>
</launch>