<!--@file dual_cam_lane_detection.launch
 -  @brief This launch file is used to run the nodes publishing the camera 
 -         streams for both cameras it then launches the lane detection 
 -         software on both
 -  @author Matthew Post
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
 -->
<launch>
  <param name="device" command="$(find lane_detection)/scripts/camera_parameters.sh"/>

  <node ns ="left" name="usb_cam_left" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/cam_left" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam_left" />
    <param name="io_method" value="mmap"/>
    <param name="gain_automatic" value="false" />
    
    <param name="auto_white_balance" value="false" />
    <param name="contrast" value="64" />
    <param name="sharpness" value="233" />
  
  </node>

  <node ns ="right" name="usb_cam_right" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/cam_right" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam_right" />
    <param name="io_method" value="mmap"/>
    <param name="gain_automatic" value="false" />

    <param name="auto_white_balance" value="false" />
    <param name="contrast" value="64" />
    <param name="sharpness" value="20" />
  </node>

<!-- Output the camera streams
  <node ns ="left" name="output_video_cam_left" pkg="image_view" type="image_view" respawn="false" output="screen">
       <remap from="image" to="/left/usb_cam_left/image_raw" />
       <param name="autosize" value="true" />
   </node>

   <node ns ="right" name="output_video_cam_right" pkg="image_view" type="image_view" respawn="false" output="screen">
       <remap from="image" to="/right/usb_cam_right/image_raw" />
       <param name="autosize" value="true" />
   </node>
-->
   <include ns ="left" file="$(find lane_detection)/launch/lane_detection_left_cam.launch" />
   <include ns ="right" file="$(find lane_detection)/launch/lane_detection_right_cam.launch" />
</launch>
