<!--@file dual_cam_lane_detection.launch
 -  @brief This launch file is used to run the nodes publishing the camera 
 -         streams for both cameras it then launches the lane detection 
 -         software on both
 -  @author Matthew Post
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
 -->
<launch>
  <include file="$(find rr_lane_detection)/launch/lane_detection_cam.launch">
    <arg name="config_file" default="$(find rr_lane_detection)/config/sim_vision_params_left.yaml"/>
    <arg name="camera" default="left_cam"/>
  </include>
  <include file="$(find rr_lane_detection)/launch/lane_detection_cam.launch">
    <arg name="config_file" default="$(find rr_lane_detection)/config/sim_vision_params_right.yaml"/>
    <arg name="camera" default="right_cam"/>
  </include>
</launch>